SUPABASE_URL=https://194-67-127-185.cloudvps.regruhosting.ru
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoiYW5vbiIsImlzcyI6InN1cGFiYXNlIiwiaWF0IjoxNzc0MjkwNTkwLCJleHAiOjE5MzE5NzA1OTB9.I5pEgsEt60x6j0TLrJQDTYN9WyAVDWpnLJvReL_ezQQ

FRONTEND_ORIGIN=http://localhost:5173,http://localhost:3000
COOKIE_SECURE=false
COOKIE_SAMESITE=lax
BACKEND_PORT=8000
